@model Distributor.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderQuanity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderQuanity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderCreationDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCreationDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDistributionDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDistributionDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDeliveredDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDeliveredDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderCollectedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCollectedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderClosedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderClosedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOriginatorAppUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOriginatorAppUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOriginatorBranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOriginatorBranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOriginatorCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOriginatorCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOriginatorDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOriginatorDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferOriginatorAppUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferOriginatorAppUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferOriginatorBranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferOriginatorBranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferOriginatorCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferOriginatorCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingOriginatorAppUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingOriginatorAppUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingOriginatorBranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingOriginatorBranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingOriginatorCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingOriginatorCompanyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
