@model IEnumerable<Distributor.Models.Campaign>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#myTable').dataTable({
                "aaSorting": [[5, "asc"]]
            });
        });

    </script>
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="table-responsive">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr class="info">
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.StrapLine)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Website)</th>
                <th>@Html.DisplayNameFor(model => model.CampaignStartDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.CampaignEndDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.LocationName)</th>
                <th>@Html.DisplayNameFor(model => model.LocationAddressLine1)</th>
                <th>@Html.DisplayNameFor(model => model.LocationAddressTownCity)</th>
                <th>@Html.DisplayNameFor(model => model.LocationAddressPostcode)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.StrapLine)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Website)</td>
                    <td>@Html.DisplayFor(modelItem => item.CampaignStartDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.CampaignEndDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.LocationName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LocationAddressLine1)</td>
                    <td>@Html.DisplayFor(modelItem => item.LocationAddressTownCity)</td>
                    <td>@Html.DisplayFor(modelItem => item.LocationAddressPostcode)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p><a class="btn btn-default" href=@Url.Action("Index", "Home")>&laquo; Return</a></p>