@using Microsoft.AspNet.Identity
@using Distributor.Extenstions
@using Distributor.Helpers

@model Distributor.ViewModels.DashboardView

@{
    var userRole = User.Identity.GetCurrentUserRole();
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}

@if (User.Identity.IsAuthenticated)
{
    if (userRole == "User")
    {
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="margin: 10px 0px 10px">Dashboard <small>Home</small></h1>
                <ol class="breadcrumb">
                    <li class="active">Home</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your campaigns</h3>
                    </div>
                    <div class="panel-body">
                        <p>Campaign</p>
                        <p>Campaign</p>
                        <p>Campaign</p>
                        <p>Campaign</p>
                        <p>Campaign</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-8">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your requirement listing</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Our list of requirements that we have put up on the system - I THINK THERE WILL BE A DIFFERENT DASH DEPENDING ON USER TYPE -
                            This will require partial views and then we can select what partial parts to put where on the screen - to be completed!!
                        </p>
                    </div>
                </div>

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your available listing</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Our list of available that we have put up on the system - I THINK THERE WILL BE A DIFFERENT DASH DEPENDING ON USER TYPE -
                            This will require partial views and then we can select what partial parts to put where on the screen - to be completed!!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="margin: 10px 0px 10px">Dashboard <small>Home</small></h1>
                <ol class="breadcrumb">
                    <li class="active">Home</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your tasks</h3>
                    </div>
                    <div class="panel-body">
                        @if (Model.UserTaskList == null || Model.UserTaskList.Count == 0)
                        {
                            <p>No tasks to show</p>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr class="info">
                                        <th>Task type</th>
                                        <th>Description</th>
                                    </tr>
                                    @foreach (var item in Model.UserTaskList)
                                    {
                                        <tr id=@item.UserTaskId>
                                            <td>@Html.DisplayFor(modelItem => item.TaskType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TaskDescription)</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }                        
                    </div>
                </div>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your actions</h3>
                    </div>
                    <div class="panel-body">
                        <p>These will be a list of actions such as un-attached orders, users etc when branches/users are made inactive or change branches etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-8">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your campaigns</h3>
                    </div>
                    <div class="panel-body">
                        @if (Model.CampaignList == null || Model.CampaignList.Count == 0)
                        {
                            <p>No campaigns to show</p>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr class="info">
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Website</th>
                                        <th>Start date</th>
                                    </tr>
                                    @foreach (var item in Model.CampaignList)
                                    {
                                        <tr id=@item.CampaignId>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Website)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CampaignStartDateTime)</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        } 
                    </div>
                </div>

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your requirement listing</h3>
                    </div>
                    <div class="panel-body">
                        @if (Model.RequirementListingList == null || Model.RequirementListingList.Count == 0)
                        {
                            <p>No requirements to show</p>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr class="info">
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Quantity required</th>
                                        <th>UoM</th>
                                    </tr>
                                    @foreach (var item in Model.RequirementListingList)
                                    {
                                        <tr id=@item.ListingId>
                                            <td>@Html.DisplayFor(modelItem => item.ItemDescription)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ItemType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.QuantityOutstanding)</td>
                                            <td>@Html.DisplayFor(modelItem => item.UoM)</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                    </div>
                </div>

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Your available listing</h3>
                    </div>
                    <div class="panel-body">
                        @if (Model.AvailableListingList == null || Model.AvailableListingList.Count == 0)
                        {
                            <p>No available items to show</p>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr class="info">
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Quantity available</th>
                                        <th>UoM</th>
                                    </tr>
                                    @foreach (var item in Model.AvailableListingList)
                                    {
                                        <tr id=@item.ListingId>
                                            <td>@Html.DisplayFor(modelItem => item.ItemDescription)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ItemType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.QuantityOutstanding)</td>
                                            <td>@Html.DisplayFor(modelItem => item.UoM)</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Current Campaigns</h2>
            <p>
                What current campaigns are being run?  Who needs what?  What is happening in your area?
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">See campaigns &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Lastest Requests</h2>
            <p>Food banks and charities always need food and other items.  What are the latest requests in your area?</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">See requests &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>About Us</h2>
            <p>What is the point of this website?  What is it we plan to achieve? There are lots of charities that all are out to help those less fortunate, what is it that we do to help that happen?</p>
            <p><a class="btn btn-default" href=@Url.Action("About", "Home")>Learn more &raquo;</a></p>
        </div>
    </div>
}
