@model IEnumerable<Distributor.Models.RequirementListing> 
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#myTable').dataTable({
                "aaSorting": [[5, "asc"]]
            });
        });

    </script>
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="table-responsive">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr class="info">
                <th>@Html.DisplayNameFor(model => model.ItemDescription)</th>
                <th>@Html.DisplayNameFor(model => model.ItemType)</th>
                <th>@Html.DisplayNameFor(model => model.QuantityOutstanding)</th>
                <th>@Html.DisplayNameFor(model => model.UoM)</th>
                <th>@Html.DisplayNameFor(model => model.RequiredFrom)</th>
                <th>@Html.DisplayNameFor(model => model.RequiredTo)</th>
                <th>@Html.DisplayNameFor(model => model.AcceptDamagedItems)</th>
                <th>@Html.DisplayNameFor(model => model.AcceptOutOfDateItems)</th>
                <th>@Html.DisplayNameFor(model => model.CollectionAvailable)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ItemDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.ItemType)</td>
                    <td>@Html.DisplayFor(modelItem => item.QuantityOutstanding)</td>
                    <td>@Html.DisplayFor(modelItem => item.UoM)</td>
                    <td>@Html.DisplayFor(modelItem => item.RequiredFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.RequiredTo)</td>
                    <td>@Html.DisplayFor(modelItem => item.AcceptDamagedItems)</td>
                    <td>@Html.DisplayFor(modelItem => item.AcceptOutOfDateItems)</td>
                    <td>@Html.DisplayFor(modelItem => item.CollectionAvailable)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p><a class="btn btn-default" href=@Url.Action("Index", "Home")>&laquo; Return</a></p>