@using Distributor.Extenstions;

@model IEnumerable<Distributor.ViewModels.OfferManageView>

@{ 
    var offerId = Guid.Empty;
    var acceptButton = "";
    var rejectButton = "";
    var counterButton = "";
    var saveButton = "";
    var offerQuantityField = "";
    var counterOfferQuantityField = "";
    var currentAppUserId = User.Identity.GetAppUserId();
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function acceptButtonClick(id) {
            var thisOfferId = id.substr(12, 43);
            if (window.confirm("Accept this offer?")) {
                var url = "/Offers/AcceptOffer";

                $.ajax({
                    url: url,
                    data: { offerId: thisOfferId },
                    cache: false,
                    type: "POST",
                    success: function (result) {
                        location.reload(true);
                    }
                });
            }
        }

        function rejectButtonClick(id) {
            var thisOfferId = id.substr(12, 43);
            if (window.confirm("Reject this offer?")) {
                var url = "/Offers/RejectOffer";

                $.ajax({
                    url: url,
                    data: { offerId: thisOfferId },
                    cache: false,
                    type: "POST",
                    success: function (result) {
                        location.reload(true);
                    }
                });
            }
        }

        function setOfferField(id) {
            var thisOfferId = id.substr(13, 36);
            var offerQuantityFieldId = "offerquantityfield" + thisOfferId;
            var saveButtonId = "savebutton" + thisOfferId;
            var acceptButtonId = "acceptbutton" + thisOfferId;
            var rejectButtonId = "rejectbutton" + thisOfferId;

            $("#" + offerQuantityFieldId).prop("disabled", false);
            $("#" + saveButtonId).show();
            $("#" + acceptButtonId).prop("disabled", true);
            $("#" + rejectButtonId).prop("disabled", true);
        }

        function setCounterOfferField(id) {
            var thisOfferId = id.substr(13, 36);
            var offerQuantityFieldId = "counterofferquantityfield" + thisOfferId;
            var saveButtonId = "savebutton" + thisOfferId;
            var acceptButtonId = "acceptbutton" + thisOfferId;
            var rejectButtonId = "rejectbutton" + thisOfferId;

            $("#" + offerQuantityFieldId).prop("disabled", false);
            $("#" + saveButtonId).show();
            $("#" + acceptButtonId).prop("disabled", true);
            $("#" + rejectButtonId).prop("disabled", true);
        }

        function saveOfferField(id) {
            var thisId = id.substr(10, 41);
            var offerQuantityFieldId = "offerquantityfield" + thisId;
            var offerQty = $("#" + offerQuantityFieldId).val();
            alert("offer:" + offerQuantityFieldId + "," + offerQty);
            if (window.confirm("Submit this new offer?")) {
                var url = "/Offers/SubmitNewOffer";

                $.ajax({
                    url: url,
                    data: { offerId: thisId, offerQuantity: offerQty },
                    cache: false,
                    type: "POST",
                    success: function (result) {
                        location.reload(true);
                    }
                });
            }
        }

        function saveCounterOfferField(id) {
            var thisId = id.substr(10, 41);
            var offerQuantityFieldId = "counterofferquantityfield" + thisId;
            var offerQty = $("#" + offerQuantityFieldId).val();
            alert("counter:" + offerQuantityFieldId + "," + offerQty);
            if (window.confirm("Submit this counter offer?")) {
                var url = "/Offers/SubmitCounterOffer";

                $.ajax({
                    url: url,
                    data: { offerId: thisId, offerQuantity: offerQty },
                    cache: false,
                    type: "POST",
                    success: function (result) {
                        location.reload(true);
                    }
                });
            }
        }

        //$(function () {
        //    //show/hide offer details to edit
        //    $('.showhideofferdetails').click(function () {
        //        var id = $(this).closest('tr').attr('id');
        //        var offerButtonId = "offerbutton" + id.toString();
        //        var saveButtonId = "savebutton" + id.toString();
        //        var offerQuantityFieldId = "offerquantityfield" + id.toString();
        //        if ($("#" + offerButtonId).prop("disabled") == false) {
        //            $("#" + offerButtonId).prop("disabled", true);
        //            $("#" + saveButtonId).prop("disabled", false);
        //            $("#" + offerQuantityFieldId).prop("disabled", false);
        //        } else if ($("#" + saveButtonId).prop("disabled") == false && $("#" + offerQuantityFieldId).val() > 0) {
        //            var offerQty = $("#" + offerQuantityFieldId).val();
        //            if (window.confirm("Submit this offer?")) {
        //                var url = "/AvailableListings/SubmitAvailableOffer";

        //                $.ajax({
        //                    url: url,
        //                    data: { listingId: id, offerQuantity: offerQty },
        //                    cache: false,
        //                    type: "POST",
        //                    success: function (result) {
        //                        location.reload(true);
        //                    }
        //                });
        //            }
        //        }
        //    });
        //});
    </script>
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#">Brand</a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="disabled">@Html.ActionLink("MANAGE LISTINGS", "General", "Home")</li>
                <li>@Html.ActionLink("Requests", "Requirements", "ManageListings")</li>
                <li>@Html.ActionLink("Available", "Available", "ManageListings")</li>
                <li>@Html.ActionLink("Campaigns", "Campaigns", "ManageListings")</li>
                <li class="active">@Html.ActionLink("Offers", "Offers", "ManageListings")</li>
                <li>@Html.ActionLink("Orders", "Orders", "ManageListings")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin: 10px 0px 10px">Manage Listings <small>Offers</small></h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Offers</li>
        </ol>
        <p class="lead">Your current offers.</p>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <tr class="info">
            <th colspan="3">Actions</th>
            <th>@Html.DisplayNameFor(model => model.OfferDetails.ListingType)</th>
            <th>@Html.DisplayNameFor(model => model.OfferDetails.OfferStatus)</th>
            <th>@Html.DisplayNameFor(model => model.OfferDetails.CurrentOfferQuantity)</th>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.OfferDetails.CounterOfferQuantity)</th>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.OfferDetails.PreviousOfferQuantity)</th>
            <th>Unit of measure</th>
            <th>Description</th>
        </tr>

        @if (Model == null)
        {
           <tr>No details to show</tr>
        }
        else
        {
            foreach (var item in Model)
            {
                offerId = item.OfferDetails.OfferId;
                acceptButton = "acceptbutton" + offerId.ToString();
                rejectButton = "rejectbutton" + offerId.ToString();
                counterButton = "counterbutton" + offerId.ToString();
                saveButton = "savebutton" + offerId.ToString();
                offerQuantityField = "offerquantityfield" + offerId.ToString();
                counterOfferQuantityField = "counterofferquantityfield" + offerId.ToString();

                if (item.OfferDetails.OfferOriginatorAppUserId.ToString() == currentAppUserId)
                {
                    <tr id=@offerId class="warning">
                        @if (item.OfferDetails.CounterOfferQuantity == null || item.OfferDetails.CounterOfferQuantity == 0)
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        else
                        {
                            <td><input type="button" value="Accept" class="btn btn-sm btn-success btn-block buttondetails" id=@acceptButton onclick="acceptButtonClick(id)" /></td>
                            <td><input type="button" value="Reject" class="btn btn-sm btn-danger btn-block buttondetails" id=@rejectButton onclick="rejectButtonClick(id)" /></td>
                            <td><input type="button" value="Offer" class="btn btn-sm btn-primary btn-block buttondetails" id=@counterButton onclick="setOfferField(id)" /></td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.OfferDetails.ListingType)</td>
                        <td>@Html.DisplayFor(modelItem => item.OfferDetails.OfferStatus)</td>
                        <td>@Html.TextBoxFor(modelItem => item.OfferDetails.CurrentOfferQuantity, new { id = @offerQuantityField, disabled = "disabled" })</td>
                        <td><input type="button" value="Save" class="btn btn-sm btn-primary btn-block buttondetails" id=@saveButton onclick="saveOfferField(id)" style="display:none" /></td>
                        <td>@Html.DisplayFor(modelItem => item.OfferDetails.CounterOfferQuantity)</td>
                        <td></td>
                        <td>@Html.DisplayFor(modelItem => item.OfferDetails.PreviousOfferQuantity)</td>
                        @if (item.AvailableListingDetails != null)
                        {
                            <td>@Html.DisplayFor(modelItem => item.AvailableListingDetails.UoM)</td>
                            <td>@Html.DisplayFor(modelItem => item.AvailableListingDetails.ItemDescription)</td>
                        }
                        @if (item.RequirementListingDetails != null)
                        {
                            <td>@Html.DisplayFor(modelItem => item.RequirementListingDetails.UoM)</td>
                            <td>@Html.DisplayFor(modelItem => item.RequirementListingDetails.ItemDescription)</td>
                        }
                    </tr>
                }
                else
                {
                    <tr id=@offerId>
                        @if (item.OfferDetails.CurrentOfferQuantity == 0)
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        else
                        {
                            <td><input type="button" value="Accept" class="btn btn-sm btn-success btn-block buttondetails" id=@acceptButton onclick="acceptButtonClick(id)" /></td>
                            <td><input type="button" value="Reject" class="btn btn-sm btn-danger btn-block buttondetails" id=@rejectButton onclick="rejectButtonClick(id)" /></td>
                            <td><input type="button" value="Counter" class="btn btn-sm btn-primary btn-block buttondetails" id=@counterButton onclick="setCounterOfferField(id)" /></td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.OfferDetails.ListingType)</td>
                        <td>@Html.DisplayFor(modelItem => item.OfferDetails.OfferStatus)</td>
                        <td>@Html.DisplayFor(modelItem => item.OfferDetails.CurrentOfferQuantity)</td>
                        <td></td>
                        <td>@Html.TextBoxFor(modelItem => item.OfferDetails.CounterOfferQuantity, new { id = @counterOfferQuantityField, disabled = "disabled" })</td>
                        <td><input type="button" value="Save" class="btn btn-sm btn-primary btn-block buttondetails" id=@saveButton onclick="saveCounterOfferField(id)" style="display:none" /></td>
                        <td>@Html.DisplayFor(modelItem => item.OfferDetails.PreviousOfferQuantity)</td>
                        @if (item.AvailableListingDetails != null)
                        {
                            <td>@Html.DisplayFor(modelItem => item.AvailableListingDetails.UoM)</td>
                            <td>@Html.DisplayFor(modelItem => item.AvailableListingDetails.ItemDescription)</td>
                        }
                        @if (item.RequirementListingDetails != null)
                        {
                            <td>@Html.DisplayFor(modelItem => item.RequirementListingDetails.UoM)</td>
                            <td>@Html.DisplayFor(modelItem => item.RequirementListingDetails.ItemDescription)</td>
                        }
                    </tr>
                }
            }
        }
    </table>
</div>

@*<div class="form-group">
    @Html.ActionLink("Create campaign", "Create", "Campaigns", "", new { @class = "btn btn-primary" })
</div>*@
