@using Distributor.Extenstions;
@using Distributor.Enums;

@model IEnumerable<Distributor.ViewModels.OrderManageView>

@{
    var orderId = Guid.Empty;
    var despatchedButton = "";
    var displayDespatchButton = true;
    var deliveredButton = "";
    var displayDeliveredButton = true;
    var receivedButton = "";
    var displayReceivedButton = true;
    var collectedButton = "";
    var displayCollectedButton = true;
    var closedButton = "";
    var displayClosedButton = true;
    var currentAppUserId = User.Identity.GetAppUserId();
    var inhouseOrder = false;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function buttonClick(id, type) {
            var thisOfferId = id.substr(12, 43);
            if (window.confirm(type + " selected.  Proceed?")) {
                var url = "/Orders/ChangeOrderStatus";

                $.ajax({
                    url: url,
                    data: { orderId: id, orderStatus: type },
                    cache: false,
                    type: "POST",
                    success: function (result) {
                        location.reload(true);
                    }
                });
            }
        }
    </script>
}

<nav class="navbar navbar-fixed-top">
    <div class="navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Distributor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Brand</a>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="disabled">@Html.ActionLink("MANAGE LISTINGS", "General", "Home")</li>
                    <li>@Html.ActionLink("Requests", "Requirements", "ManageListings")</li>
                    <li>@Html.ActionLink("Available", "Available", "ManageListings")</li>
                    <li>@Html.ActionLink("Campaigns", "Campaigns", "ManageListings")</li>
                    <li>@Html.ActionLink("Offers", "Offers", "ManageListings")</li>
                    <li class="active">@Html.ActionLink("Orders", "Orders", "ManageListings")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</nav>

<div class="row" style="padding-top:55px">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin: 10px 0px 10px">Manage Listings <small>Orders</small></h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Orders</li>
        </ol>
        <p class="lead">Your current orders out.</p>
    </div>
</div>

<div class="table-responsive">
    @if (ViewBag.OutOrderCount == null || ViewBag.OutOrderCount == 0)
    {
        <p>No details to show</p>
    }
    else
    {
        <table class="table table-hover">
            <tr class="info">
                <th style="min-width:150px">Actions</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderQuanity)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderStatus)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderCreationDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderDistributionDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderDeliveredDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderCollectedDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderClosedDateTime)</th>
            </tr>
            @foreach (var item in Model)
            {
                inhouseOrder = false;

                if (ViewBag.AllowBranchTrading)
                {
                    if (item.OrderDetails.OrderOriginatorBranchId == ViewBag.CurrentBranchOrCompanyId)
                    {
                        inhouseOrder = true;
                    }
                }
                else
                {
                    if (item.OrderDetails.OrderOriginatorCompanyId == ViewBag.CurrentBranchOrCompanyId)
                    {
                        inhouseOrder = true;
                    }
                }

                //if (inhouseOrder)
                if ((inhouseOrder && item.OrderDetails.ListingType == GeneralEnums.ListingTypeEnum.Available) || (inhouseOrder == false && item.OrderDetails.ListingType == GeneralEnums.ListingTypeEnum.Requirement))
                {
                    orderId = item.OrderDetails.OrderId;
                    despatchedButton = "despatchedbutton" + orderId.ToString();
                    deliveredButton = "deliveredbutton" + orderId.ToString();
                    closedButton = "closedbutton" + orderId.ToString();

                    <tr id=@orderId>
                        @{
                            displayDespatchButton = true;
                            displayDeliveredButton = true;
                            displayClosedButton = true;

                            switch ((GeneralEnums.InternalSearchLevelEnum)ViewBag.DespatchedAuthorisationLevel)
                            {
                                case GeneralEnums.InternalSearchLevelEnum.Company:
                                    if (item.OrderDetails.OrderOriginatorCompanyId != ViewBag.DespatchedAuthorisationId && item.OrderDetails.OfferOriginatorCompanyId != ViewBag.DespatchedAuthorisationId)
                                    {
                                        displayDespatchButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Branch:
                                    if (item.OrderDetails.OrderOriginatorBranchId != ViewBag.DespatchedAuthorisationId && item.OrderDetails.OfferOriginatorBranchId != ViewBag.DespatchedAuthorisationId)
                                    {
                                        displayDespatchButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.User:
                                    if (item.OrderDetails.OrderOriginatorAppUserId != ViewBag.DespatchedAuthorisationId && item.OrderDetails.OfferOriginatorAppUserId != ViewBag.DespatchedAuthorisationId)
                                    {
                                        displayDespatchButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Group:  //LSLSLS  TO BE DONE WHEN GROUPS ADDED
                                    break;
                            }

                            switch ((GeneralEnums.InternalSearchLevelEnum)ViewBag.DeliveredAuthorisationLevel)
                            {
                                case GeneralEnums.InternalSearchLevelEnum.Company:
                                    if (item.OrderDetails.OrderOriginatorCompanyId != ViewBag.DeliveredAuthorisationId && item.OrderDetails.OfferOriginatorCompanyId != ViewBag.DeliveredAuthorisationId)
                                    {
                                        displayDeliveredButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Branch:
                                    if (item.OrderDetails.OrderOriginatorBranchId != ViewBag.DeliveredAuthorisationId && item.OrderDetails.OfferOriginatorBranchId != ViewBag.DeliveredAuthorisationId)
                                    {
                                        displayDeliveredButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.User:
                                    if (item.OrderDetails.OrderOriginatorAppUserId != ViewBag.DeliveredAuthorisationId && item.OrderDetails.OfferOriginatorAppUserId != ViewBag.DeliveredAuthorisationId)
                                    {
                                        displayDeliveredButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Group:  //LSLSLS  TO BE DONE WHEN GROUPS ADDED
                                    break;
                            }

                            switch ((GeneralEnums.InternalSearchLevelEnum)ViewBag.ClosedAuthorisationLevel)
                            {
                                case GeneralEnums.InternalSearchLevelEnum.Company:
                                    if (item.OrderDetails.OrderOriginatorCompanyId != ViewBag.ClosedAuthorisationId && item.OrderDetails.OfferOriginatorCompanyId != ViewBag.ClosedAuthorisationId)
                                    {
                                        displayClosedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Branch:
                                    if (item.OrderDetails.OrderOriginatorBranchId != ViewBag.ClosedAuthorisationId && item.OrderDetails.OfferOriginatorBranchId != ViewBag.ClosedAuthorisationId)
                                    {
                                        displayClosedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.User:
                                    if (item.OrderDetails.OrderOriginatorAppUserId != ViewBag.ClosedAuthorisationId && item.OrderDetails.OfferOriginatorAppUserId != ViewBag.ClosedAuthorisationId)
                                    {
                                        displayClosedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Group:  //LSLSLS  TO BE DONE WHEN GROUPS ADDED
                                    break;
                            }
                        }
                        
                        @if (item.OrderDetails.OrderStatus == OrderEnums.OrderStatusEnum.New)
                        {
                            <td>
                                <div class="btn-group btn-group-sm">
                                    @if (displayDespatchButton)
                                    {
                                        <button type="submit" class="btn btn-success" id=@orderId onclick="buttonClick(id, 'Despatched')"><span class="glyphicon glyphicon-ok"></span> Despatched</button>
                                    }
                                    @if (displayDeliveredButton)
                                    {
                                        <button type="submit" class="btn btn-success" id=@orderId onclick="buttonClick(id, 'Delivered')"><span class="glyphicon glyphicon-ok"></span> Delivered</button>
                                    }
                                    @if (displayClosedButton)
                                    {
                                        <button type="submit" class="btn btn-danger" id=@orderId onclick="buttonClick(id, 'Closed')"><span class="glyphicon glyphicon-remove"></span> Closed</button>
                                    }
                                </div>
                            </td>
                        }
                        else if (item.OrderDetails.OrderStatus == OrderEnums.OrderStatusEnum.Despatched)
                        {
                            <td>
                                <div class="btn-group btn-group-sm">
                                    @if (displayDeliveredButton)
                                    {
                                        <button type="submit" class="btn btn-success" id=@orderId onclick="buttonClick(id, 'Delivered')"><span class="glyphicon glyphicon-ok"></span> Delivered</button>
                                    }
                                    @if (displayClosedButton)
                                    {
                                        <button type="submit" class="btn btn-danger" id=@orderId onclick="buttonClick(id, 'Closed')"><span class="glyphicon glyphicon-remove"></span> Closed</button>
                                    }
                                </div>
                            </td>
                        }
                        else if (item.OrderDetails.OrderStatus == OrderEnums.OrderStatusEnum.Delivered)
                        {
                            <td>
                                <div class="btn-group btn-group-sm">
                                    @if (displayClosedButton)
                                    {
                                        <button type="submit" class="btn btn-danger" id=@orderId onclick="buttonClick(id, 'Closed')"><span class="glyphicon glyphicon-remove"></span> Closed</button>
                                    }
                                </div>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderQuanity)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderStatus)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderCreationDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderDistributionDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderDeliveredDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderCollectedDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderClosedDateTime)</td>
                    </tr>
                }

            }
        </table>
    }
</div>

<div class="row">
    <div class="col-lg-12">
        <p class="lead">Your current orders in.</p>
    </div>
</div>

<div class="table-responsive">
    @if (ViewBag.InOrderCount == null || ViewBag.InOrderCount == 0)
    {
        <p>No details to show</p>
    }
    else
    {
        <table class="table table-hover">
            <tr class="info">
                <th style="min-width:150px">Actions</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderQuanity)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderStatus)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderCreationDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderDistributionDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderDeliveredDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderCollectedDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.OrderClosedDateTime)</th>
            </tr>
            @foreach (var item in Model)
            {
                inhouseOrder = false;

                if (ViewBag.AllowBranchTrading)
                {
                    if (item.OrderDetails.OrderOriginatorBranchId == ViewBag.CurrentBranchOrCompanyId)
                    {
                        inhouseOrder = true;
                    }
                }
                else
                {
                    if (item.OrderDetails.OrderOriginatorCompanyId == ViewBag.CurrentBranchOrCompanyId)
                    {
                        inhouseOrder = true;
                    }
                }

                //if (inhouseOrder == false)
                if ((inhouseOrder && item.OrderDetails.ListingType == GeneralEnums.ListingTypeEnum.Requirement) || (inhouseOrder == false && item.OrderDetails.ListingType == GeneralEnums.ListingTypeEnum.Available))
                {
                    orderId = item.OrderDetails.OrderId;
                    collectedButton = "collectedbutton" + orderId.ToString();
                    receivedButton = "receivedbutton" + orderId.ToString();
                    closedButton = "closedbutton" + orderId.ToString();

                    <tr id=@orderId>
                        @{
                            displayCollectedButton = true;
                            displayReceivedButton = true;
                            displayClosedButton = true;

                            switch ((GeneralEnums.InternalSearchLevelEnum)ViewBag.CollectedAuthorisationLevel)
                            {
                                case GeneralEnums.InternalSearchLevelEnum.Company:
                                    if (item.OrderDetails.OfferOriginatorCompanyId != ViewBag.CollectedAuthorisationId && item.OrderDetails.OrderOriginatorCompanyId != ViewBag.CollectedAuthorisationId)
                                    {
                                        displayCollectedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Branch:
                                    if (item.OrderDetails.OfferOriginatorBranchId != ViewBag.CollectedAuthorisationId && item.OrderDetails.OrderOriginatorCompanyId != ViewBag.CollectedAuthorisationId)
                                    {
                                        displayCollectedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.User:
                                    if (item.OrderDetails.OfferOriginatorAppUserId != ViewBag.CollectedAuthorisationId && item.OrderDetails.OrderOriginatorAppUserId != ViewBag.CollectedAuthorisationId)
                                    {
                                        displayCollectedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Group:  //LSLSLS  TO BE DONE WHEN GROUPS ADDED
                                    break;
                            }

                            switch ((GeneralEnums.InternalSearchLevelEnum)ViewBag.ReceivedAuthorisationLevel)
                            {
                                case GeneralEnums.InternalSearchLevelEnum.Company:
                                    if (item.OrderDetails.OfferOriginatorCompanyId != ViewBag.ReceivedAuthorisationId && item.OrderDetails.OrderOriginatorCompanyId != ViewBag.ReceivedAuthorisationId)
                                    {
                                        displayReceivedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Branch:
                                    if (item.OrderDetails.OfferOriginatorBranchId != ViewBag.ReceivedAuthorisationId && item.OrderDetails.OrderOriginatorBranchId != ViewBag.ReceivedAuthorisationId)
                                    {
                                        displayReceivedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.User:
                                    if (item.OrderDetails.OfferOriginatorAppUserId != ViewBag.ReceivedAuthorisationId && item.OrderDetails.OrderOriginatorAppUserId != ViewBag.ReceivedAuthorisationId)
                                    {
                                        displayReceivedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Group:  //LSLSLS  TO BE DONE WHEN GROUPS ADDED
                                    break;
                            }

                            switch ((GeneralEnums.InternalSearchLevelEnum)ViewBag.ClosedAuthorisationLevel)
                            {
                                case GeneralEnums.InternalSearchLevelEnum.Company:
                                    if (item.OrderDetails.OfferOriginatorCompanyId != ViewBag.ClosedAuthorisationId && item.OrderDetails.OrderOriginatorCompanyId != ViewBag.ClosedAuthorisationId)
                                    {
                                        displayClosedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Branch:
                                    if (item.OrderDetails.OfferOriginatorBranchId != ViewBag.ClosedAuthorisationId && item.OrderDetails.OrderOriginatorBranchId != ViewBag.ClosedAuthorisationId)
                                    {
                                        displayClosedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.User:
                                    if (item.OrderDetails.OfferOriginatorAppUserId != ViewBag.ClosedAuthorisationId && item.OrderDetails.OrderOriginatorAppUserId != ViewBag.ClosedAuthorisationId)
                                    {
                                        displayClosedButton = false;
                                    }
                                    break;
                                case GeneralEnums.InternalSearchLevelEnum.Group:  //LSLSLS  TO BE DONE WHEN GROUPS ADDED
                                    break;
                            }
                        }

                        @if (item.OrderDetails.OrderStatus == OrderEnums.OrderStatusEnum.New)
                        {
                            <td>
                                <div class="btn-group btn-group-sm">
                                    @if (displayReceivedButton)
                                    {
                                        <button type="submit" class="btn btn-xs btn-success" id=@orderId onclick="buttonClick(id, 'Received')"><span class="glyphicon glyphicon-ok"></span> Received</button>
                                    }
                                    @if (displayCollectedButton)
                                    {
                                        <button type="submit" class="btn btn-xs btn-success" id=@orderId onclick="buttonClick(id, 'Collected')"><span class="glyphicon glyphicon-ok"></span> Collected</button>
                                    }
                                    @if (displayClosedButton)
                                    {
                                        <button type="submit" class="btn btn-xs btn-danger" id=@orderId onclick="buttonClick(id, 'Closed')"><span class="glyphicon glyphicon-remove"></span> Closed</button>
                                    }
                                </div>
                            </td>
                        }
                        else if (item.OrderDetails.OrderStatus == OrderEnums.OrderStatusEnum.Received || item.OrderDetails.OrderStatus == OrderEnums.OrderStatusEnum.Collected)
                        {
                            <td>
                                <div class="btn-group btn-group-sm">
                                    @if (displayClosedButton)
                                    {
                                        <button type="submit" class="btn btn-xs btn-danger" id=@orderId onclick="buttonClick(id, 'Closed')"><span class="glyphicon glyphicon-remove"></span> Closed</button>
                                    }
                                </div>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }

                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderQuanity)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderStatus)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderCreationDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderDistributionDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderDeliveredDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderCollectedDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Orders", new { id = item.OrderDetails.OrderId, showHistory = false })'">@Html.DisplayFor(modelItem => item.OrderDetails.OrderClosedDateTime)</td>
                    </tr>
                }

            }
        </table>
    }
</div>

<div class="form-group">
    @Html.ActionLink("Display history", "History", "Orders", "", new { @class = "btn btn-default" })
</div>