@model Distributor.ViewModels.AvailableListingEditView

<nav class="navbar navbar-fixed-top">
    <div class="navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Distributor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Brand</a>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="disabled">@Html.ActionLink("GENERAL INFO", "General", "Home")</li>
                    <li>@Html.ActionLink("Requests", "Requirements", "GeneralInfo")</li>
                    <li class="active">@Html.ActionLink("Available", "Available", "GeneralInfo")</li>
                    <li>@Html.ActionLink("Campaigns", "Campaigns", "GeneralInfo")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</nav>


<div class="row" style="padding-top:55px">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin: 10px 0px 10px">Available Listing <small>Listing Details</small></h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Available", "Available", "GeneralInfo")</li>
            <li class="active">Listing Details</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="login-panel panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Listing details</h3>
            </div>
            <div class="panel-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ListingId)

                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ItemDescription)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ItemDescription)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ItemType)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ItemType)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.QuantityRequired)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.QuantityRequired)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.QuantityFulfilled)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.QuantityFulfilled)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.QuantityOutstanding)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.QuantityOutstanding)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.UoM)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.UoM)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.AvailableFrom)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.AvailableFrom)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.AvailableTo)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.AvailableTo)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ItemCondition)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ItemCondition)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.DisplayUntilDate)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.DisplayUntilDate)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.SellByDate)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.SellByDate)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.UseByDate)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.UseByDate)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.DeliveryAvailable)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.DeliveryAvailable)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingStatus)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingStatus)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="login-panel panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Listee details</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingAppUser.FirstName)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingAppUser.FirstName)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingAppUser.LastName)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingAppUser.LastName)</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingCompanyDetails.CompanyName)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingCompanyDetails.CompanyName)</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingBranchDetails.BranchName)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingBranchDetails.BranchName)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingBranchDetails.AddressLine1)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingBranchDetails.AddressLine1)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingBranchDetails.AddressTownCity)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingBranchDetails.AddressTownCity)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingBranchDetails.AddressCounty)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingBranchDetails.AddressCounty)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingBranchDetails.AddressPostcode)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingBranchDetails.AddressPostcode)</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">@Html.LabelFor(model => model.ListingOriginatorDateTime)</div>
                    <div class="col-md-8">@Html.DisplayFor(model => model.ListingOriginatorDateTime)</div>
                </div>
            </div>
        </div>
    </div>
</div>