@model Distributor.ViewModels.CampaignEditView

<nav class="navbar navbar-fixed-top">
    <div class="navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Distributor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Brand</a>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="disabled">@Html.ActionLink("MANAGE LISTINGS", "General", "Home")</li>
                    <li>@Html.ActionLink("Requests", "Requirements", "ManageListings")</li>
                    <li>@Html.ActionLink("Available", "Available", "ManageListings")</li>
                    <li class="active">@Html.ActionLink("Campaigns", "Campaigns", "ManageListings")</li>
                    <li>@Html.ActionLink("Offers", "Offers", "ManageListings")</li>
                    <li>@Html.ActionLink("Orders", "Orders", "ManageListings")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</nav>

<div class="row" style="padding-top:55px">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin: 10px 0px 10px">Campaign <small>Edit Details</small></h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Campaigns", "Campaigns", "ManageListings")</li>
            <li class="active">Edit Details</li>
        </ol>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Listing details</h3>
                </div>
                <div class="panel-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CampaignId)

                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.Name)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.StrapLine)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.StrapLine, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StrapLine, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.Description)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.Website)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignStartDateTime)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CampaignStartDateTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CampaignStartDateTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignEndDateTime)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CampaignEndDateTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CampaignEndDateTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationName)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationAddressLine1)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationAddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationAddressLine1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationAddressLine2)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationAddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationAddressLine2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationAddressLine3)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationAddressLine3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationAddressLine3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationAddressTownCity)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationAddressTownCity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationAddressTownCity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationAddressCounty)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationAddressCounty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationAddressCounty, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationAddressPostcode)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationAddressPostcode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationAddressPostcode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationTelephoneNumber)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationTelephoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationTelephoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationEmail)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.LocationContactName)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LocationContactName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationContactName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignOriginatorDateTime)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CampaignOriginatorDateTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CampaignOriginatorDateTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.EntityStatus)</div>
                        <div class="col-md-8">
                            @Html.EnumDropDownListFor(model => model.EntityStatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EntityStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Campaign poster</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.Image)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.ImageLocation)</div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ImageLocation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImageLocation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-panel panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Campaign created by</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignAppUser.FirstName)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.CampaignAppUser.FirstName)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignAppUser.LastName)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.CampaignAppUser.LastName)</div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignBranchDetails.BranchName)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.CampaignBranchDetails.BranchName)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignBranchDetails.AddressLine1)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.CampaignBranchDetails.AddressLine1)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignBranchDetails.AddressTownCity)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.CampaignBranchDetails.AddressTownCity)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignBranchDetails.AddressCounty)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.CampaignBranchDetails.AddressCounty)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">@Html.LabelFor(model => model.CampaignBranchDetails.AddressPostcode)</div>
                        <div class="col-md-8">@Html.DisplayFor(model => model.CampaignBranchDetails.AddressPostcode)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" name="submitbutton" class="btn btn-success" />
        <input type="submit" value="Reset" name="resetbutton" class="btn btn-danger" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
