@model Distributor.ViewModels.BranchAdminView

@foreach (var branch in Model)
{
    branchId = branch.BranchId;

    <tr id=@branchId class="active">
        <td><input style="width:70px" type="button" value="Edit" class="btn btn-sm btn-primary btn-block showhidebranch" /></td>
        <td><input style="width:70px" type="button" value="Users" class="btn btn-sm btn-primary btn-block showhideusers" /></td>
        <td>@Html.DisplayFor(modelBranch => branch.EntityStatus)</td>
        <td>@Html.DisplayFor(modelBranch => branch.BranchName)</td>
        <td>@Html.DisplayFor(modelBranch => branch.AddressLine1)</td>
        <td>@Html.DisplayFor(modelBranch => branch.AddressTownCity)</td>
        <td>@Html.DisplayFor(modelBranch => branch.AddressCounty)</td>
        <td>@Html.DisplayFor(modelBranch => branch.AddressPostcode)</td>
        <td>@Html.DisplayFor(modelBranch => branch.BusinessType)</td>
    </tr>

                                <tbody id=@branchId style="display:none">
                                    <tr class="info">
                                        <th></th>
                                        <th></th>
                                        <th>Branch details</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th></th>
                                        <td>Branch name</td>
                                        <td>@Html.EditorFor(modelBranch => branch.BranchName, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th></th>
                                        <td>Address line 1</td>
                                        <td>@Html.EditorFor(modelBranch => branch.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td>Business type</td>
                                        <td>@Html.EnumDropDownListFor(modelBranch => branch.BusinessType, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th></th>
                                        <td>Address line 2</td>
                                        <td>@Html.EditorFor(modelBranch => branch.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td>Contact telephone</td>
                                        <td>@Html.EditorFor(modelBranch => branch.TelephoneNumber, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th></th>
                                        <td>Address line 3</td>
                                        <td>@Html.EditorFor(modelBranch => branch.AddressLine3, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td>Contact email</td>
                                        <td>@Html.EditorFor(modelBranch => branch.Email, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th></th>
                                        <td>Address town/city</td>
                                        <td>@Html.EditorFor(modelBranch => branch.AddressTownCity, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td>Contact name</td>
                                        <td>@Html.EditorFor(modelBranch => branch.ContactName, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th></th>
                                        <td>Address county</td>
                                        <td>@Html.EditorFor(modelBranch => branch.AddressCounty, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th></th>
                                        <td>Address postcode</td>
                                        <td>@Html.EditorFor(modelBranch => branch.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td>Branch status</td>
                                        <td>@Html.EnumDropDownListFor(modelBranch => branch.EntityStatus, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><input style="width:70px" type="submit" value="Save" class="btn btn-sm btn-success btn-block" /></td>
                                        <td><input style="width:70px" type="submit" value="Reset" class="btn btn-sm btn-danger btn-block" /></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>

    companyUserListId = branch.CompanyUserListId;

    <tbody id=@companyUserListId style="display:none">
        <tr class="info">
            <th></th>
            <th></th>
            <th>Users on branch</th>
            <th>Current</th>
            <th>First name</th>
            <th>Surname</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var user in branch.RelatedCompanyUsers)
        {
            <tr>
                <td></td>
                <td></td>
                <td>@Html.CheckBoxFor(modelUser => user.LinkedToThisBranch)</td>
                @if (user.AppUserDetails.CurrentBranchId == branchId)
                {
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                }
                else
                {
                    <td></td>
                }
                <td>@Html.DisplayFor(modelUser => user.AppUserDetails.FirstName)</td>
                <td>@Html.DisplayFor(modelUser => user.AppUserDetails.LastName)</td>
                <td>@Html.DisplayFor(modelUser => user.AppUserDetails.EntityStatus)</td>
                <td></td>
                <td></td>
            </tr>
        }

        <tr>
            <td><input style="width:70px" type="submit" value="Save" class="btn btn-sm btn-success btn-block" /></td>
            <td><input style="width:70px" type="submit" value="Reset" class="btn btn-sm btn-danger btn-block" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
}