@model Distributor.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default" style="margin-top:50px">
                <div class="panel-heading">
                    <h3 class="panel-title">Create new account</h3>
                </div>

                <section id="loginForm">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>

                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group col-md-12">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-12">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name" })
                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Register" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
