@model Distributor.Models.RequirementListing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RequirementListing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityFulfilled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityFulfilled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOutstanding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOutstanding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptDamagedItems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptDamagedItems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingBranchPostcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingBranchPostcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingOriginatorAppUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingOriginatorAppUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingOriginatorBranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingOriginatorBranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingOriginatorCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingOriginatorCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingOriginatorDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingOriginatorDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
