@model IEnumerable<Distributor.ViewModels.CampaignGeneralInfoView>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        //Render tables
        $(document).ready(function () {
            $('#campaignTable').dataTable();
        });
    </script>
}

<nav class="navbar navbar-fixed-top">
    <div class="navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Distributor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Brand</a>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="disabled">@Html.ActionLink("GENERAL INFO", "General", "Home")</li>
                    <li>@Html.ActionLink("Requests", "Requirements", "GeneralInfo")</li>
                    <li>@Html.ActionLink("Available", "Available", "GeneralInfo")</li>
                    <li class="active">@Html.ActionLink("Campaigns", "Campaigns", "GeneralInfo")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</nav>

<div class="row" style="padding-top:55px">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin: 10px 0px 10px">General Info <small>Campaigns</small></h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Campaigns</li>
        </ol>
        <p class="lead">Current campaigns.</p>
    </div>
</div>

<div class="table-responsive">
    @if (Model.Count() == 0)
    {
        <p>No details to show</p>
    }
    else
    {
        <table id="campaignTable" class="table table-hover">
            <thead>
                <tr class="info">
                    <th>@Html.DisplayNameFor(model => model.Campaign.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Campaign.StrapLine)</th>
                    <th>@Html.DisplayNameFor(model => model.Campaign.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Campaign.Website)</th>
                    <th>@Html.DisplayNameFor(model => model.Campaign.CampaignStartDateTime)</th>
                    <th>@Html.DisplayNameFor(model => model.Campaign.CampaignEndDateTime)</th>
                </tr>
            </thead>

            <tbody>@foreach (var item in Model)
            {
                if (item.CompanyLevelBlock && item.DisplayBlocks)
                {
                    <tr style="color:darkred">
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.StrapLine)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Description)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Website)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignStartDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignEndDateTime)</td>
                    </tr>
                }
                else if (item.BranchLevelBlock && item.DisplayBlocks)
                {
                    <tr style="color:indianred">
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.StrapLine)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Description)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Website)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignStartDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignEndDateTime)</td>
                    </tr>
                }
                else if (item.UserLevelBlock && item.DisplayBlocks)
                {
                    <tr style="color:red">
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.StrapLine)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Description)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Website)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignStartDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignEndDateTime)</td>
                    </tr>
                }
                else if ((item.CompanyLevelBlock || item.BranchLevelBlock || item.UserLevelBlock) && !item.DisplayBlocks)
                {
                    //do nothing, don't show the row
                }
                else if (item.UserLevelOwner && item.DisplayMyRecords)
                {
                    <tr style="color:green">
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.StrapLine)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Description)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Website)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignStartDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignEndDateTime)</td>
                    </tr>
                }
                else if (item.UserLevelOwner && !item.DisplayMyRecords)
                {
                    //do nothing, don't show the row
                }
                else if (item.BranchLevelOwner && item.DisplayMyBranchRecords)
                {
                    <tr style="color:forestgreen">
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.StrapLine)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Description)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Website)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignStartDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignEndDateTime)</td>
                    </tr>
                }
                else if (item.BranchLevelOwner && !item.DisplayMyBranchRecords)
                {
                    //do nothing, don't show the row
                }
                else if (item.CompanyLevelOwner && item.DisplayMyCompanyRecords)
                {
                    <tr style="color:darkgreen">
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.StrapLine)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Description)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Website)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignStartDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignEndDateTime)</td>
                    </tr>
                }
                else if (item.CompanyLevelOwner && !item.DisplayMyCompanyRecords)
                {
                    //do nothing, don't show the row
                }
                else
                {
                    <tr>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Name)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.StrapLine)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Description)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.Website)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignStartDateTime)</td>
                        <td onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.Campaign.CampaignId })'">@Html.DisplayFor(modelItem => item.Campaign.CampaignEndDateTime)</td>
                    </tr>
                }
            }
            </tbody>

        </table>
    }
</div>

<div class="form-group">
    @Html.ActionLink("Add campaign", "Create", "Campaigns", "", new { @class = "btn btn-primary" })
</div>