@model Distributor.ViewModels.UserAdminView

@{ 
    var appUserId = ViewBag.AppUserId;
}

@if (Model.AppUserId == appUserId)
{
    @Html.HiddenFor(modelItem => modelItem.AppUserId)
    @Html.HiddenFor(modelItem => modelItem.CurrentBranchId)

    <tr id=@appUserId class="active">
        <td><input type="button" value="Branches" class="btn btn-sm btn-primary btn-block showhidebranch" /></td>
        <td>@Html.EnumDropDownListFor(modelItem => modelItem.AppUserEntityStatus, "", new { @class = "form-control" })</td>
        <td>@Html.EditorFor(modelItem => modelItem.FirstName, new { @class = "form-control" })</td>
        <td>@Html.EditorFor(modelItem => modelItem.LastName, new { @class = "form-control" })</td>
        <td>@Html.DisplayFor(modelItem => modelItem.LoginEmail)</td>
    </tr>

    <tbody id=@appUserId style="display:none">
        <tr class="info">
            <th></th>
            <th>Current</th>
            <th>User role</th>
            <th>Branch name</th>
            <th>Address</th>
        </tr>

        @Html.EditorFor(modelItem => modelItem.RelatedBranches, new { AppUserid = appUserId, CurrentBranchId = Model.CurrentBranchId } )
    </tbody>
}