@model Distributor.Models.Offer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentOfferQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentOfferQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousOfferQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousOfferQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounterOfferQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounterOfferQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferOriginatorAppUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferOriginatorAppUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferOriginatorBranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferOriginatorBranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferOriginatorCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferOriginatorCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferOriginatorDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferOriginatorDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOriginatorAppUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOriginatorAppUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOriginatorBranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOriginatorBranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOriginatorCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOriginatorCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOriginatorDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOriginatorDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OfferId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
